<div class="col-md-7 mx-auto">
    <form class="form-inline" action="/search" method="POST">
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Parametro</label>
    <select class="form-control" name="param">
        <option selected>ID</option>
        <option>Autor</option>
        <option>Titulo</option>
        <option>Editorial</option>
        <option>Genero</option>
        <option>Resumen</option>
        <option>Numero de Paginas</option>
        <option>Año de Creacion</option>
        <option>Precio</option>
        <option>Disponibles</option>
    </select>
    <input type="text" class="form-control" name="key"></input>
    <button type="submit" class="btn btn-primary my-1">Submit</button>
</form>
</div>
